.container {
    width: '100%';
    margin: '5% 5% 0% 10%';
    border: '12px solid black';
    border-radius: '15px',
}

.images {
    object-fit: contain;
    margin-top: 20%;
}

.images-image:hover {
    transform: scale(1.09);
    border: .1em solid white;
}

.MuiAvatar-root {
    margin-right: 20px;   
}

.repo-container {
    display: flex;    
    padding: 15px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: blanchedalmond;
}

.MuiPaper-root {
    background-color: cornsilk;
}